In [29]:
import pandas as pd
import numpy as np

In [50]:
url = 'https://github.com/klocey/hospitals-data-archive/raw/main/dataframes/filtered_files/HAIs/HAIs_'
yr = '2023'

url = url + yr + '.csv'
df = pd.read_csv(url)
df.drop(labels=['Unnamed: 0'], axis=1, inplace=True)
print(df.shape)
df.head()

(4310, 32)

,Hospital,file_year,Hospital Type,Hospital Ownership,Beds,Lat,Lon,State,CAUTI (SIR),CAUTI Observed Cases,...,MRSA Predicted Cases,MRSA patient days,SSI Abdominal Hysterectomy,SSI Abdominal Number of Procedures,SSI Abdominal Observed Cases,SSI Abdominal Predicted Cases,SSI Colon Number of Procedures,SSI Colon Observed Cases,SSI Colon Predicted Cases,SSI Colon Surgery (SIR)
0,SOUTHEAST HEALTH MEDICAL CENTER (010001),2023,Acute Care,Government - Hospital District or Authority,377.0,31.214058,-85.361725,AL,0.388,10.0,...,11.360,104366.0,NaN,96.0,1.0,0.901,207.0,6.0,5.910,1.015
1,MARSHALL MEDICAL CENTERS (010005),2023,Acute Care,Government - Hospital District or Authority,193.0,NaN,NaN,AL,0.829,4.0,...,1.990,37542.0,NaN,41.0,0.0,0.342,89.0,4.0,2.444,1.637
2,NORTH ALABAMA MEDICAL CENTER (010006),2023,Acute Care,Government - Hospital District or Authority,314.0,34.802756,-87.652191,AL,0.222,3.0,...,4.410,62086.0,NaN,11.0,0.0,0.095,86.0,0.0,2.284,0.000
3,MIZELL MEMORIAL HOSPITAL (010007),2023,Acute Care,Voluntary non-profit - Private,64.0,31.291972,-86.255415,AL,NaN,1.0,...,0.144,5537.0,NaN,NaN,NaN,NaN,6.0,0.0,0.155,NaN
4,CRENSHAW COMMUNITY HOSPITAL (010008),2023,Acute Care,Proprietary,49.0,31.692595,-86.266156,AL,NaN,0.0,...,0.052,2215.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
#df.dropna(inplace=True)
nan_rows = df.isnull().sum(axis=1)
nan_cols = df.isnull().sum(axis=0)

#print(nan_rows, 'rows with NaNs')
#print(nan_cols, 'cols with NaNs')
total_nans = df.isnull().sum().sum()
print(total_nans, 'NaNs in the dataframe')
col_with_most_nans = df.isnull().sum().idxmax()
print(col_with_most_nans)

27736 NaNs in the dataframe
SSI Abdominal Hysterectomy

In [60]:
mod_df = df.copy(deep=True)
print(mod_df.shape[0], mod_df.shape[1], mod_df.shape[0] * mod_df.shape[1], '\n')

def remove_nans_optimal(df):
    
    total_nans = mod_df.isnull().sum().sum()
    print(total_nans, 'NaNs in df')
    
    while total_nans > 0:
        col_with_most_nans = mod_df.isnull().sum().idxmax()
        print(col_with_most_nans)
        
        #print(mod_df.shape)
        tdf = mod_df.drop(labels=[col_with_most_nans], axis=1)
        #print(tdf.shape)
        tdf.dropna(how='any', axis=0, inplace=True)
        #print(tdf.shape)
        size1 = tdf.shape[0] * tdf.shape[1]
        
        print(tdf.shape[0], tdf.shape[1], size1)
        
        tdf = mod_df.dropna(how='any', axis=0)
        size2 = tdf.shape[0] * tdf.shape[1]
        
        print(tdf.shape[0], tdf.shape[1], size2)
        
        if size1 <= size2:
            mod_df.dropna(how='any', axis=0, inplace=True)
            total_nans = mod_df.isnull().sum().sum()
            
        elif size1 > size2:
            mod_df.drop(labels=[col_with_most_nans], axis=1, inplace=True)
            total_nans = mod_df.isnull().sum().sum()
        
        
    return mod_df

mod_df = remove_nans_optimal(df)
print('\n')
print(mod_df.shape[0], mod_df.shape[1], mod_df.shape[0] * mod_df.shape[1], '\n')

mod_df = df.copy(deep=True)
mod_df.dropna(how='any', axis=0, inplace=True)
print(mod_df.shape[0], mod_df.shape[1], mod_df.shape[0] * mod_df.shape[1], '\n')

mod_df = df.copy(deep=True)
mod_df.dropna(how='any', axis=1, inplace=True)
print(mod_df.shape[0], mod_df.shape[1], mod_df.shape[0] * mod_df.shape[1], '\n')

4310 32 137920

27736 NaNs in df
SSI Abdominal Hysterectomy
1459 31 45229
559 32 17888
MRSA (SIR)
1564 30 46920
1459 31 45229
SSI Colon Surgery (SIR)
1804 29 52316
1564 30 46920
CLABSI (SIR)
1973 28 55244
1804 29 52316
CAUTI (SIR)
2348 27 63396
1973 28 55244
SSI Abdominal Number of Procedures
2348 26 61048
2348 27 63396


2348 27 63396

559 32 17888

4310 4 17240

In [61]:
print(mod_df.size)

17240